* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background: #f5f5f5;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.row {
    margin-bottom: 0px;
}

h2 {
    font-size: 20px;
    color: white;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: salmon;
}

.prefix,
#icon_email,
#icon_name {
    color: white;
}

#student-input,
#email-input,
.validate {
    margin-bottom: 0px;
}

#search-box:visited {
    background: white;
}

#search-button {
    margin-top: 30px;
    background: #465a66;
}

#add-button {
    background-color: #465a66;
}

#assign-button {
    background-color: #465a66;
}

.panel {
    background: rgba(204, 204, 204, 0.3);
    padding: 10px;
    margin-top: 10px;
}

#no-padding {
    padding: 0px;
}

#logo {
    font-size: 40px;
    padding-left: 10px;
}

.preloader-wrapper {
    margin: 250px 430px;
}

.card-panel {
    padding-top: 10px;
    padding-bottom: 1px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.delete:active {
    color: black;
}

.margin-top {
    margin-top: 15px;
}

.margin-top-2 {
    margin-top: 95px;
}

.margin-none {
    margin-top: 0px;
}

.tab-margin {
    margin-top: 30px;
}

#tab-padding {
    padding: 0px;
}

#youtube,
#khan,
#coursera {
    color: #4db6ac;
}

#youtube:hover,
#khan:hover,
#coursera:hover {
    color: #b2dfdb;
}

.selected-card {
    opacity: 0.5;
}

.card-background {
    background: white;
    border-top: white;
    margin: 0px 12px;
}

.getting-started-text {
    padding-bottom: 250px;
}

h4 {
    padding-top: 30px;
}

main {
    flex: 1 0 auto;
}

ul {
    padding-bottom: 10px;
}

.site {
    color: #f59c9d;
    text-decoration: none;
}

.active-tab {
    text-decoration: underline;
    color: #4db6ac;
}

.modal {
    z-index: 1;
    width: 500px;
}

.modal-text {
    font-size: 20px;
}

#student-list {
    overflow: auto;
}

.page-footer {
    color: white;
}

.footer-copyright {
    margin-top: 0px;
}

#footer {
    background: #bdbdbd;
    padding-top: 3px;
}

#header {
    background: white;
}

#assign-it {
    color: #465a66;
}

.nav-links {
    color: salmon;
}

input:not([type]).valid,
input:not([type]):focus.valid,
input[type=text].valid,
input[type=text]:focus.valid,
input[type=password].valid,
input[type=password]:focus.valid,
input[type=email].valid,
input[type=email]:focus.valid,
input[type=url].valid,
input[type=url]:focus.valid,
input[type=time].valid,
input[type=time]:focus.valid,
input[type=date].valid,
input[type=date]:focus.valid,
input[type=datetime].valid,
input[type=datetime]:focus.valid,
input[type=datetime-local].valid,
input[type=datetime-local]:focus.valid,
input[type=tel].valid,
input[type=tel]:focus.valid,
input[type=number].valid,
input[type=number]:focus.valid,
input[type=search].valid,
input[type=search]:focus.valid,
textarea.materialize-textarea.valid,
textarea.materialize-textarea:focus.valid {
    border-bottom: 1px solid salmon;
    box-shadow: 0 1px 0 0 salmon;
    #picturesFrontPage {
        font-size: 40px;
        background-color: #cfd8dc;
        font-family: Comic sans, Calibri, Trebuchet, sans-serif;
    }
}

#instruction-set {
    font-size: 25px;
    height: 120px;
}

#instruction-set,
#title-info {
    font-style: italic;
    font-family: Comic sans, Calibri, Trebuchet, sans-serif;
    background-color: #4db6ac;
    text-align: center;
}

.start-page-p {
    padding: 10px;
}

.front-page-img {
    width: 100%;
    height: auto;
}

#padding-left-right {
    padding: 0 10px;
}

.bottom-edge {
    position: static;
    height: 8px;
    background-color: #9e9e9e;
}

#title-info {
    font-size: 20px;
}

#slideshow {
    margin: auto;
    position: relative;
    width: auto;
    height: auto;
    padding: 1px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    z-index: -1;
}

#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

#leave-page {
    font-size: 20px;
    border-style: solid;
    border-color: #4db6ac;
    text-align: center;
    background-color: white;
}

@media screen and (min-width: 960px) {
    #leave-page {
        height: 35px;
        width: 160px;
        position: fixed;
        top: 420px;
        left: 600px;
    }
}

@media screen and (max-width: 960px) {
    #leave-page {
        height: 35px;
        width: 160px;
        position: fixed;
        top: 420px;
        left: 350px;
    }
}

@media screen and (max-width: 768px) {
    #leave-page {
        height: 35px;
        width: 160px;
        position: fixed;
        top: 420px;
        left: 200px;
    }
}
