* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background: #f5f5f5;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.row {
    margin-bottom: 0px;
}

h2 {
    font-size: 20px;
    color: white;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.prefix,
#icon_email,
#icon_name {
    color: white;
}

#student-input,
#email-input,
.validate {
    margin-bottom: 0px;
}

#search-button {
    margin-top: 30px;
}

.panel {
    background: rgba(204, 204, 204, 0.3);
    padding: 10px;
    margin-top: 10px;
}

#no-padding {
    padding: 0px;
}

#logo {
    font-size: 40px;
    padding-left: 10px;
}

.preloader-wrapper {
    margin: 250px 430px;
}

.card-panel {
    padding-top: 10px;
    padding-bottom: 1px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.delete:active {
    color: black;
}

.margin-top {
    margin-top: 15px;
}

.margin-top-2 {
    margin-top: 5px;
}

.tab-margin {
    margin-top: 30px;
}

#tab-padding {
    padding: 0px;
}

.selected-card {
    background: gray;
}

.card-background {
    background: white;
    border-top: white;
    margin: 0px 12px;
}

.getting-started-text {
    padding-bottom: 210px;
}

h4 {
    padding-top: 30px;
}

main {
    flex: 1 0 auto;
}

ul {
    padding-bottom: 10px;
}

.site {
    color: #f59c9d;
    text-decoration: none;
}

.active-tab {
    text-decoration: underline;
    color: #ee6e73;
}
